<%= render 'navbar' %>

<div class= "book-form-header">
   <%= image_tag('logo_darkside_branca.png', class:'small-logo') %>
  <h2><strong>CHECKLIST DE LANÇAMENTO</strong></h2>
</div>

<div class= 'show-form'>
  <h3>Dados Gerais</h3>
  <p><strong>Título:</strong> <%= @book.title %></p>
  <p><strong>Código:</strong> <%= @book.code %></p>
  <p><strong>Páginas:</strong> <%= @book.pages %></p>
  <p><strong>Tiragem:</strong> <%= @book.tiragem %></p>
  <p><strong>Selo:</strong> <%= @book.selo %></p>
  <p><strong>Data de Entrega:</strong> <%= @book.delivery_date %></p>
  <p><strong>Fitilho:</strong> <%= @book.fitilho %></p>
  <p><strong>Cabeceado:</strong> <%= @book.cabeceado %></p>
  <p><strong>Pintura Lateral:</strong> <%= @book.pintura_lateral %></p>
  <p><strong>Sticker:</strong> <%= @book.sticker ? 'Sim' : 'Não' %></p>
  <p><strong>Encartes:</strong> <%= @book.encartes ? 'Sim' : 'Não' %></p>

  <h3>Dados de Capa</h3>
  <p><strong>Tipo de Capa:</strong> <%= @book.cover_type %></p>
  <p><strong>Formato de Capa:</strong> <%= @book.cover_format %></p>
  <p><strong>Papel da Capa:</strong> <%= @book.cover_paper %></p>
  <p><strong>Cores da Capa:</strong> <%= @book.cover_colors %></p>
  <p><strong>Acabamento da Capa:</strong> <%= @book.cover_finish %></p>

  <h3>Dados do Miolo</h3>
  <p><strong>Formato do Miolo:</strong> <%= @book.miolo_format %></p>
  <p><strong>Papel do Miolo:</strong> <%= @book.miolo_paper %></p>
  <p><strong>Cores do Miolo:</strong> <%= @book.miolo_colors %></p>
  <p><strong>Acabamento do Miolo:</strong> <%= @book.miolo_finish %></p>

  <h3>Dados de Guarda</h3>
  <p><strong>Formato da Guarda:</strong> <%= @book.guarda_format %></p>
  <p><strong>Papel da Guarda:</strong> <%= @book.guarda_paper %></p>
  <p><strong>Cores da Guarda:</strong> <%= @book.guarda_colors %></p>
  <p><strong>Acabamento da Guarda:</strong> <%= @book.guarda_finish %></p>
</div>


<div class="show-footer">
    <%= link_to 'Editar', edit_book_path(@book), class: "btn btn-dark" %>
      <%= link_to 'Deletar', book_path(@book), data: {turbo_method: :delete, turbo_confirm: "Tem certeza que quer deletar orçamento?"}, class: "btn btn-danger" %>
      <%= link_to 'Voltar', books_path,  class: "btn btn-dark" %>
    </div>
  </div>
