<%= render '/books/navbar' %>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs-container">
    <div class="form-inputs">
      <%= f.input :name, required: true, autofocus: true, label: "Nome",input_html: { style: "width: 500px;" }  %>
      <%= f.input :email, required: true, autofocus: true, input_html: { style: "width: 500px;" }%>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  label: "Senha",
                  hint: "Preencha apenas se quiser alterar a sua senha",
                  required: false,
                  input_html: { autocomplete: "new-password", style: "width: 500px;" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmação de Senha",
                  required: false,
                  input_html: { autocomplete: "new-password", style: "width: 500px;" }%>
      <%= f.input :current_password,
                  label: "Senha Atual",
                  hint: "Precisamos da sua senha atual para confirmar as alterações",
                  required: true,
                  input_html: { autocomplete: "current-password", style: "width: 500px" } %>
    </div>
  </div>


  <div class="form-actions">
    <div class="edit-form-footer">
      <%= f.button :submit, "Update", class: "btn btn-dark" %>
      <div class="form-inputs">
        Unhappy? <%= form_with(model: resource, url: registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete) do |f| %>
          <%= f.submit "Cancel my account", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<div class="back-button">
  <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
</div>
