 <td><%= f.input :quantity, label: false %></td>
 <td><%= f.input :ipsis_price, label: false %></td>
 <td><%= f.input :coan_price, label: false %></td>
 <td><%= f.input :geografica_price, label: false %></td>
 <td><%= f.input :leograf_price, label: false %></td>
 <td><%= f.input :santa_marta_price, label: false %></td>
 <td><%= f.input :pancron_price, label: false %></td>
