<nav>
  <ul class='app-header'>
    <li><%= link_to image_tag('logo_darkside.jpg', class:'logo-navbar', alt:'logo da darkside em extenso vermelho'), root_path %></li>

    <% if user_signed_in? %>
      <li><%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %></li>
      <li><%= link_to "Editar Usuário", edit_user_registration_path %></li>
    <% else %>
      <li><%= link_to "Cadastre-se",  new_user_registration_path %></li>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><%= link_to "Esqueceu a senha?",  new_user_password_path %></li>
    <% end %>
    <li><%= link_to 'CADASTRAR LIVRO', new_book_path %></li>
  </ul>
</nav>
