<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CHECKLIST</title>
  <!-- Inclua os cabeçalhos e estilos necessários para a formatação do PDF aqui -->
  <style>

  h2 {
    text-align: center;
  }

  h3 {
    margin: 24px 0;
    text-decoration: underline;
    text-align: center;
  }

  .book-form-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
   align-items: flex-end; /* Corrija aqui para align-items */
   }

  .book-data {
    margin: 0 15%;
  }

  .book-data h3 {
    text-align: center;
    padding: 16px;
  }
</style>

</head>
<body>
 <div class="book-form-header">
    <%= image_tag wicked_pdf_asset_base64("logo-dark-preta.png"), style: "width: 150px; border-radius: 50%; margin-right: 24px;" %>
    <h3>CHECKLIST DE LANÇAMENTO</h3>
  </div>

  <div class="book-data">

    <h3>Dados Gerais</h3>
    <p><strong>Título:</strong> <%= @book.title %></p>
    <p><strong>Código:</strong> <%= @book.code %></p>
    <p><strong>Páginas:</strong> <%= @book.pages %></p>
    <p><strong>Tiragem:</strong> <%= @book.tiragem %></p>
    <p><strong>Selo:</strong> <%= @book.selo %></p>
    <p><strong>Data de Entrega:</strong> <%= @book.delivery_date.strftime('%d/%m/%Y') %></p>
    <p><strong>Fitilho:</strong> <%= @book.fitilho %></p>
    <p><strong>Cabeceado:</strong> <%= @book.cabeceado %></p>
    <p><strong>Pintura Lateral:</strong> <%= @book.pintura_lateral %></p>
    <p><strong>Sticker:</strong> <%= @book.sticker ? 'Sim' : 'Não' %></p>
    <p><strong>Encartes:</strong> <%= @book.encartes ? 'Sim' : 'Não' %></p>

    <h3>Dados de Capa</h3>
    <p><strong>Tipo de Capa:</strong> <%= @book.cover_type %></p>
    <p><strong>Formato de Capa:</strong> <%= @book.cover_format %></p>
    <p><strong>Papel da Capa:</strong> <%= @book.cover_paper %></p>
    <p><strong>Cores da Capa:</strong> <%= @book.cover_colors %></p>
    <p><strong>Acabamento da Capa:</strong> <%= @book.cover_finish %></p>

    <h3>Dados do Miolo</h3>
    <p><strong>Formato do Miolo:</strong> <%= @book.miolo_format %></p>
    <p><strong>Papel do Miolo:</strong> <%= @book.miolo_paper %></p>
    <p><strong>Cores do Miolo:</strong> <%= @book.miolo_colors %></p>
    <p><strong>Acabamento do Miolo:</strong> <%= @book.miolo_finish %></p>

    <h3>Dados de Guarda</h3>
    <p><strong>Formato da Guarda:</strong> <%= @book.guarda_format %></p>
    <p><strong>Papel da Guarda:</strong> <%= @book.guarda_paper %></p>
    <p><strong>Cores da Guarda:</strong> <%= @book.guarda_colors %></p>
    <p><strong>Acabamento da Guarda:</strong> <%= @book.guarda_finish %></p>

    <p style="margin-top: 80px"><%= "Rio de Janeiro, #{Date.today.strftime('%d/%m/%Y')}, #{current_user.name}" %></p>
  </div>
</body>
</html>
