<%= render 'navbar' %>

<div class= "new-book-container">
  <div class= "book-form-header">
    <%= image_tag('logo_darkside_branca.png', class:'small-logo') %>
   <h2><strong>CHECKLIST DE <%= @book.title.upcase %></strong></h2>
  </div>
  <div class= 'book-form'>
  <%= simple_form_for @book do |f| %>
    <h3>Dados Gerais</h3>

    <%= f.input :title, label: "Título", input_html: { style: "width: 500px;" } %>
    <%= f.input :code, label: "Código", input_html: { style: "width: 500px;" } %>
    <%= f.input :pages, label: "Páginas", input_html: { style: "width: 500px;" } %>
    <%= f.input :tiragem, input_html: { style: "width: 500px;" } %>
    <%= f.input :selo, input_html: { style: "width: 500px;" } %>
    <%= f.input :delivery_date, input_html: { style: "width: 33%;" } %>
    <%= f.input :fitilho, input_html: { style: "width: 500px;" } %>
    <%= f.input :cabeceado, input_html: { style: "width: 500px;" } %>
    <%= f.input :pintura_lateral, input_html: { style: "width: 500px;" } %>
    <%= f.input :sticker %>
    <%= f.input :encartes %>

    <h3>Dados de Capa</h3>

    <%= f.input :cover_type, label: "Tipo de Capa", input_html: { style: "width: 500px;" } %>
    <%= f.input :cover_format, label: "Formato de Capa", input_html: { style: "width: 500px;" } %>
    <%= f.input :cover_paper, label: "Papel da Capa", input_html: { style: "width: 500px;" } %>
    <%= f.input :cover_colors, label: "Cores da Capa", input_html: { style: "width: 500px;" } %>
    <%= f.input :cover_finish, label: "Acabamento da Capa", input_html: { style: "width: 500px;" } %>

    <h3>Dados do Miolo</h3>

    <%= f.input :miolo_format, label: "Formato do Miolo", input_html: { style: "width: 500px;" } %>
    <%= f.input :miolo_paper, label: "Papel do Miolo", input_html: { style: "width: 500px;" } %>
    <%= f.input :miolo_colors, label: "Cores do Miolo", input_html: { style: "width: 500px;" } %>
    <%= f.input :miolo_finish, label: "Acabamento do Miolo", input_html: { style: "width: 500px;" } %>

    <h3>Dados de Guarda</h3>

    <%= f.input :guarda_format, label: "Formato da Guarda", input_html: { style: "width: 500px;" } %>
    <%= f.input :guarda_paper, label: "Papel da Guarda", input_html: { style: "width: 500px;" } %>
    <%= f.input :guarda_colors, label: "Cores da Guarda", input_html: { style: "width: 500px;" } %>
    <%= f.input :guarda_finish, label: "Acabamento da Guarda", input_html: { style: "width: 500px;" } %>

    </div>

    <div class="container book-form">
      <h3>Orçamento:</h3>

      <% if @book.printing_prices.all? { |price| price.quantity.present? || price.ipsis_price.present? || price.coan_price.present? || price.geografica_price.present? || price.leograf_price.present? || price.santa_marta_price.present? || prince.pancron_price.present? } %>
        <table class = "table">
          <thead>
            <tr>
              <th>Quantity</th>
              <th>Ipsis Price</th>
              <th>Coan Price</th>
              <th>Geografica Price</th>
              <th>Leograf Price</th>
              <th>Santa Marta Price</th>
              <th>Pancron Price</th>
            </tr>
          </thead>
          <tbody>
            <% grouped_prices = @book.printing_prices.group_by(&:quantity) %>
            <% grouped_prices.each do |quantity, prices| %>
              <tr>
                <td style="text-align: center; vertical-align: middle;">
                  <div >
                    <strong><%= quantity %></strong>
                    </div>
                </td>
                <% prices.each do |price| %>
                   <td>
                    <div id = "input-mb-0">
                      <%= f.simple_fields_for :printing_prices, price do |ff| %>
                        <%= ff.input :ipsis_price, label: false %>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <%= f.simple_fields_for :printing_prices, price do |ff| %>
                      <%= ff.input :coan_price, label: false %>
                    <% end %>
                  </td>
                  <td>
                    <%= f.simple_fields_for :printing_prices, price do |ff| %>
                      <%= ff.input :geografica_price, label: false %>
                    <% end %>
                  </td>
                  <td>
                    <%= f.simple_fields_for :printing_prices, price do |ff| %>
                      <%= ff.input :leograf_price, label: false %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
        <% else %>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Quantity</th>
                <th>Ipsis Price</th>
                <th>Coan Price</th>
                <th>Geografica Price</th>
                <th>Leograf Price</th>
                <th>Santa Marta Price</th>
                <th>Pancron Price</th>
              </tr>
            </thead>
              <tbody>
                <% 4.times do %>
                <div>
                 <tr>
                    <%= f.simple_fields_for :printing_prices do |ff| %>
                      <td><%= ff.input :quantity, label: false %></td>
                      <td><%= ff.input :ipsis_price, label: false, placeholder: "R$" %></td>
                      <td><%= ff.input :coan_price, label: false, placeholder: "R$" %></td>
                      <td><%= ff.input :geografica_price, label: false, placeholder: "R$" %></td>
                      <td><%= ff.input :leograf_price, label: false, placeholder: "R$", inputmode: "numeric" %></td>
                      <td><%= ff.input :santa_marta_price, label: false, placeholder: "R$" %></td>
                      <td><%= ff.input :pancron_price, label: false, placeholder: "R$" %></td>
                    <% end %>
                  </tr>
                </div>
                <% end %>
              </tbody>
          <% end %>
          </table>
            <%= f.submit "Atualizar Check-list", class: "btn btn-dark mt-5"; %>
      <% end %>
    </div>
</div>


<script>
  var elements = document.querySelectorAll("div.decimal.optional");

  console.log(elements)

  for (var element of elements) {
    element.classList.remove("mb-3");
  }

    </script>
