<!-- app/views/kit_books/_item_fields.html.erb -->
<div class="nested-fields">
  <%= f.input :item %>
  <%= f.input :quantity %>
  <%= f.input :supplier %>
  <%= f.input :unit_price %>
  <%= f.input :shipping %>
  <%= f.input :observation %>
  <%= link_to_remove_association "Remove Item", f %>
</div>
