<%= render 'navbar' %>

<div class= "new-book-container">
  <div class= "book-form-header">
    <%= image_tag('logo-dark-preta.png', class:'avatar-large') %>
   <h2><strong>Orçamento de KitBook</strong></h2>
  </div>
  <div class= 'book-form'>
    <%= simple_form_for @kit_book do |f| %>
      <!-- KitBook fields -->
      <h2>Kit book name:   <%= f.collection_select :book_id, Book.all, :id, :title, prompt: "Selecione um livro", selected: @kit_book.book_id %></h2>

      <!-- Item fields -->
    <div id="item-fields" class="item-flex-container">
      <% @kit_book.items.each do |item| %>
        <%= f.simple_fields_for :items do |item_fields| %>
          <div class="item-flex-item">
            <%= render 'item_fields', f: item_fields %>
            <% @item_number += 1 %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="links">
      <%= link_to_add_association 'Adicionar Item', f, :items, class: "btn btn-primary" %>
    </div>

    <%= f.submit "Create Kit Book", class: "btn btn-dark" %>
    <% end %>

  </div>
</div>

<script>
$(document).on('cocoon:after-remove', function(e, removedItem) {
  // Remove the empty div from the DOM
  $(removedItem).closest('.item-flex-item').remove();
});
</script>
